<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Viewer</title>
</head>
<body>
    <div>
{% if user.is_authenticated %}
    {% if user_data %}

<p>Hi!</p>

<p>
    Username: <a href="https://github.com/{{user_data.login}}">{{user_data.login}}</a>
    <img width=25 height=25 src="{{user_data.avatar_url}}"/>
</p>
<p>
    <h3> Repos: </h3>
    <ul>
        {% for repo in repos %}
            <li><a href={{repo.url}}>{{repo.title}}</a></li>
        {% endfor %}
    </ul>
</p>

    {% else %}
Error requesting Github.
    {% endif %}

{% else %}
<p>Please <a href="{% url "social:begin" "github" %}">Authenticated with GitHub</a></p>
{% endif %}
    </div>
</body>
</html>